@model IEnumerable<PetTravelDb.Models.Airlines>

@{
    ViewData["Title"] = "Airlines";
}

<h1>Airlines</h1>

<p>
    <a asp-action="Create">Create New</a>

    <form asp-controller="Airlines" asp-action="AirlineSearch">
        <p>
            Search by AirlineName: &nbsp;
            <input type="text" name="Flight" />
            <input type="submit" value="Filter" />
        </p>
    </form>

</p>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AirlinesName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AirlinesDescription)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AirlinesName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AirlinesDescription)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AirlinesId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AirlinesId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AirlinesId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
