@model IEnumerable<PetTravelDb.Models.Owner>

<div style="background-color: mediumturquoise; backface-visibility: 0%">
@{
    ViewData["Title"] = "Owners";
}

<h1>Owners</h1>

<p>
    <a asp-action="Create">Create New</a>

    <form asp-controller="Owners" asp-action="Index">
        <p>
            Search by Last Name: &nbsp; <input type="text" name="searchFlight" />
            <input type="submit" value="Filter" />
        </p>
    </form>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FlightId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookingRefNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmailAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FlightId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookingRefNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.OwnerId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.OwnerId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.OwnerId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
